/* filepath: c:\wonky_sprout_os\_sass\_variables.scss */

$card-dark: #161b22;
$border-gray: #5f6368;
$radius-md: 4px;
$transition: all 0.3s ease;
$text-bright: #c9d1d9;
$text-light: #989ca0;
$circuit-teal: #1abc9c;